<div class="container">
    <!-- TOP BAR WITH LOGO -->
    <mat-toolbar class="main-toolbar">
        
          <mat-icon (click)="navOpen = !navOpen" aria-label="Open Menu" class="btn btn--clear">menu</mat-icon>
        <ngx-nav-drawer [(open)]="navOpen">
            <mat-list-item class="list-nav-drawer" *ngFor="let config of userConfig" >
              <h4 class="line-nav-drawer"mat-line> {{config.viewValue}} </h4>
              <mat-divider></mat-divider>
            </mat-list-item>
        </ngx-nav-drawer>
    
          <span>p3Player</span>
        </mat-toolbar>
    
    <!-- CENTRAL LOGO -->
    <div class="content">
        <div class="logo">
          <mat-icon class="logo-note">music_note</mat-icon>
          <div>p3Player</div>
        </div>
        <!-- MUSIC LIST -->
      <mat-list color="accent">
        <h3 mat-subheader>Songs</h3>
        <mat-list-item *ngFor="let file of files; let i = index" (click)="openFile(file, i)">
          <mat-icon color="accent" mat-list-icon>music_note</mat-icon>
          <h4 mat-line> {{ file.name }} </h4>
          <h5 mat-line>by {{ file.artist }}</h5>
          <mat-icon color="accent" *ngIf="currentFile.index === i && !state?.error">volume_up</mat-icon>
          <h6 *ngIf="currentFile.index === i && state?.error">ERROR</h6>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="media-footer">
          <!-- TIME SLIDER -->
        <mat-toolbar-row class="slider-bar">
           {{ state?.readableCurrentTime }}
           <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" 
           (input)="onSliderChangeSongCurrentTime($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
           {{ state?.readableDuration }}
        </mat-toolbar-row>
        <!-- MUSIC CONTROLS -->
        <mat-toolbar-row class="media-action-bar">
          <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
          </button>

          <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
            <mat-icon mat-list-icon>play_circle_filled</mat-icon>
          </button>

          <button mat-button (click)="pause()" *ngIf="state?.playing">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>

          <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
            <mat-icon mat-list-icon>skip_next</mat-icon>
          </button>
        </mat-toolbar-row>
    </div>
</div>